{
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "options": {
        "singleQuote": true,
        "arrowParens": "avoid"
      }
    }
  ]
}

